<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="menu(current)" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="navbar-brand" href="#"><img class="logo" th:src="@{/images/blog.png}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:classappend="${current} == 'Home' ? 'active' : ''" th:href="@{/post}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${current} == 'CreatePost' ? 'active' : ''" th:href="@{/post/create}">Create Post</a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:classappend="${current} == 'CreateCategory' ? 'active' : ''" th:href="@{/category/create}">Create</a>
                    <a class="dropdown-item" th:classappend="${current} == 'ListCategory' ? 'active' : ''" th:href="@{/category}">List</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a sec:authorize="hasAnyAuthority('ADMIN')" class="dropdown-item" th:href="@{/user/create}">Create</a>
                    <a class="dropdown-item" th:href="@{/user}">List</a>
                </div>
            </li>
            <li class="form-inline my-2 my-lg-0">
                <a sec:authorize="isAuthenticated()" class="nav-item nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>

    </div>
</nav>