<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="posts">
        <div class="container">
            <div class="jumbotron" th:each="post : ${posts}">
                <h1><a th:href="@{/post/post-form/{id}(id=${post.id})}" th:text="${post.title}">Title</a></h1>
                <div th:text="'Created: ' +${#dates.format(post.createdAt, 'yyyy-MMM-dd')} + ' by '">Created by: </div>
                <div><a th:text="${post.createdBy}" th:href="@{/user/user-form/{id}(id=${post.blogUser.id})}">User</a></div>
                <div th:text="'Category: #'+${post.category.title}"> Category:</div>
                <h3 th:text = "${post.text}">Text</h3>
            </div>
        </div>
    </div>
</body>
</html>